<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801371533628-iodo8voj6svel41966dto7isib0oq3uv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801371533628-iodo8voj6svel41966dto7isib0oq3uv</string>
	<key>API_KEY</key>
	<string>AIzaSyAVgb6Laiht-CvWEkJUuFgoH4tdeJw-D18</string>
	<key>GCM_SENDER_ID</key>
	<string>801371533628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.benjamincarney.accev</string>
	<key>PROJECT_ID</key>
	<string>accev-1583359156808</string>
	<key>STORAGE_BUCKET</key>
	<string>accev-1583359156808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801371533628:ios:01838e57f630d3e3e3ae39</string>
	<key>DATABASE_URL</key>
	<string>https://accev-1583359156808.firebaseio.com</string>
</dict>
</plist>